/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family: "Montserrat", sans-serif;
}

/* app */
.app {
  min-height: 100vh; /* full screen */
  display: flex;
  flex-direction: column; /* stacked on top */
  justify-content: space-between; /* 1st item flush to top */
  align-items: center;
}

/* header H1 */
header h1 {
  margin: 50px 30px;
  text-align: center;
  font-size: 40px;
}

/* header p */
header p {
  font-size: 20px;
}

/* pads (clickable things) */
.pads {
  background: lightblue;
  width: 100%;
  display: flex; /* pads are displayed next together */
}

/* select all the div inside the pads, (1-6 pads) */
.pads > div {
  height: 100px;
  width: 100px;
  flex: 1; /* stretch them out */
}

/* pad 1 */
.pad1 {
  background: #60d394;
}

/* pad 2 */
.pad2 {
  background: #d36060;
}

/* pad 3 */
.pad3 {
  background: #c060d3;
}

/* pad 4 */
.pad4 {
  background: #d3d160;
}

/* pad 5 */
.pad5 {
  background: #6860d3;
}

/* pad 6 */
.pad6 {
  background: #60b2d3;
}

/* keyframes jump */
@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}

/* get all div in the visuals */
.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1); /* how much scaling is done in each direction */
  z-index: -1; /* goes behind */
}
